@model IEnumerable<DomainLayer.Models.CourseFiles> ;

@{


    ViewData["Title"] = "Courses Files  Page";
    //   var Levels = Model.CourseFiles;

}
<div class="row">
    <a class="btn btn-info float-start" asp-action="Index">Get Courses </a>

    <div class="col-6">
        <ul class="list-group">
            <li href="#" class="list-group-item list-group-item-action active">Practical</li>
            @foreach (var item in Model)
            {
                @if (item.CourseFileTypeId == 1)
                {
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        @item.FileName
                        <span class="badge bg-primary rounded-pill">14</span>
                        <span class="badge bg-primary rounded-pill">14</span>
                    </li>





                }
            }

        </ul>

    </div>
    <div class="col-6">
        <div class="list-group">
            <a class="list-group-item list-group-item-action active">Theory</a>
            @foreach (var item in Model)
            {
                @if (item.CourseFileTypeId == 2)
                {
                    <a class="list-group-item list-group-item-action active">@item.FileName</a>

                }
            }

        </div>

    </div>
</div>
