@model ShredKernal.ViewModels.LevelViewModel ;
   @*@using System.Web.Mvc.Html;*@

@{


    ViewData["Title"] = "HomeWork Page";
 //   var Levels = Model.CourseFiles;
    var Levels = ViewBag.cf;
}
@if (Levels is not null)
{
    <div class="list-group">
        @foreach (var item in Levels)
        {
            <a class="list-group-item list-group-item-action active">@item.FileName</a>

        }

    </div>
}


<a class="btn btn-info float-start" asp-action="UploadFile">Upload File </a>
<div class="form-group">
    <label asp-for="LevelId" class="form-label mt-4">Select Level </label>
    <select asp-for="LevelId" asp-items="@(new SelectList(Model.Levels,"Id","LevelName"))" class="form-select">
        <option></option>

    </select>
    <label asp-for="CourselId" class="form-label mt-4">Select Course </label>
    <select asp-for="CourselId" asp-items="@(new SelectList(Model.Courses,"Id","CourseName"))" class="form-select">
        <option>Any</option>

    </select>



</div>
<div id="sel">
   
  

</div>




@section Scripts{

    <script>
        $(document).ready(function () {
            $("#LevelId").on('change', function () {
                console.log($(this).val());
                var levelId = $(this).val();
                var courseList = $('#CourselId');
                courseList.empty();
                if (levelId !== '') {
                    $.ajax({
                        url: '/HomeWork/GetCources?levelId=' + levelId,
                        success: function (data) {
                            console.log(data);
                            $('#CourselId').append($('<option></option>').text(" "));

                            $.each(data, function (i, course) {
                                $('#CourselId').append($('<option></option>').attr('value', course.id).text(course.courseName));
                            });
                        },
                        error: function () {
                            alert('something wrong');

                        }

                    });
                }
            });


            // for courses
            $("#CourselId").on('change', function () {


                var courseId = $(this).val();
                console.log(courseId);
                window.location.href = '/HomeWork/GetCourcesFiles?courseId=' + courseId
                if (courseId !== '') {
                    //$.ajax({
                    //    url: '/HomeWork/GetCourcesFiles?courseId=' + courseId,
                    //    success: function (data) {
                            
                    //        //$.each(data, function (i, course) {

                    //        //    $.each(course, function (i, courseFile) {
                    //        //        var a = document.createElement('a');
                    //        //        a.innerHTML = courseFile.fileName;
                    //        //        a.className = "list-group-item list-group-item-action";
                    //        //        list.appendChild(a);                                  
                    //        //    });

                    //        //});


                    //    },

                        
                    //});
                }
            });

        });

    </script>
}