@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
  <div class="row">
      <div class="col-8">
            <div class="row">
                <div class="col">
                    <div class="container bcontent">
                        <h2>Home Page</h2>
                        <hr />
                        <div class="card" style="width: 613px; ">
                            <div class="row no-gutters">
                                <div class="col-sm-5">
                                    <img class="card-img" src="~/images/attend.jpg" alt="Suresh Dasari Card">
                                </div>
                                <div class="col-sm-7">
                                    <div class="card-body" style="    text-align: start;">
                                        <h2>Attendance</h2>

                                        <p class="card-text">Suresh Dasari is a founder and technical lead developer in tutlane.</p>
                                        <a href="#" class="btn btn-primary">View Profile</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12 mt-3">
                                <div class="card" style="width: 613px; ">
                                    <div class="row no-gutters">
                                        <div class="col-sm-5">
                                            <img class="card-img" src="/images/defaultimg.png" alt="Suresh Dasari Card">
                                        </div>
                                        <div class="col-sm-7">
                                            <div class="card-body" style="    text-align: start;">
                                                <h5 class="card-title">Suresh Dasari</h5>
                                                <p class="card-text">Suresh Dasari is a founder and technical lead developer in tutlane.</p>
                                                <a href="#" class="btn btn-primary">View Profile</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12 mt-3">
                                <div class="card" style="width: 613px; ">
                                    <div class="row no-gutters">
                                        <div class="col-sm-5">
                                            <img class="card-img" src="/images/defaultimg.png" alt="Suresh Dasari Card">
                                        </div>
                                        <div class="col-sm-7">
                                            <div class="card-body" style="    text-align: start;">
                                                <h5 class="card-title">Suresh Dasari</h5>
                                                <p class="card-text">Suresh Dasari is a founder and technical lead developer in tutlane.</p>
                                                <a href="#" class="btn btn-primary">View Profile</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12 mt-3">
                                <div class="card" style="width: 613px; ">
                                    <div class="row no-gutters">
                                        <div class="col-sm-5">
                                            <img class="card-img" src="/images/defaultimg.png" alt="Suresh Dasari Card">
                                        </div>
                                        <div class="col-sm-7">
                                            <div class="card-body" style="    text-align: start;">
                                                <h5 class="card-title">Suresh Dasari</h5>
                                                <p class="card-text">Suresh Dasari is a founder and technical lead developer in tutlane.</p>
                                                <a href="#" class="btn btn-primary">View Profile</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @*the caleder and events *@
            <div class="col-4"></div>
      </div>
  </div>
</div>
