

.uploadForm {
    width:670px;
    margin:auto;
}
@keyframes to-top {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
.card-img {

height:100%
}